section
    &:nth-of-type(4)
        .bg-black
            background-color: black
            color: white
        .titre3
            text-align: center
            font-weight: bold
        .container    
            .rowe
                .card
                    display: none
                    height: 200px
                    width: 250px
                    transition: 0.5s
                    cursor: pointer
                    @media screen and (max-width: 620px)
                        display: none
                       
                        
                        
                    
                .active
                    display: inline-block
                    @media screen and (max-width: 620px)
                        display: flex
                        height: 200px
                        width: 100px

                   

                   
                    .hover-image
                        margin: 10px
                h5
                    text-align: center
                    
                .luxe-color
                    color: $colorRed
                    font-weight: bold
                    text-align: center
                 
                .butt-sale
                    border-radius: 50%
                    background-color: $colorRed
                    height: 50px
                    color: white
                    border: none
                .prix-gloves
                    text-decoration: line-through
                    opacity: 0.5
                    
                .prix
                    color: $colorRed
                    font-weight: bold
                    align-items: center
                .prix-bowl
                    color: $colorRed
                    font-weight: bold
                h5
                    text-align: center    
                .sale-bag
                    border-radius: 50%
                    background-color: $colorRed
                    height: 50px
                    color: white
                    border: none
                .col-five
                    display: none
                    transition: 0.5s
                    @media screen and (max-width: 620px)
                        height: 60px
                        width: 60px
                  
                .active
                    display: inline-block
                   
                    @media screen and (max-width: 620px)
                        display: block
                        
                .col-six
                    display: none
                .active
                    display: inline-block
                    @media screen and (max-width: 620px)
                        display: block 
                       
                .col-seven
                    display: none

                .active 
                    display: inline-block
                    @media screen and (max-width: 620px)
                        display: block
                        
                .col-height
                    display: none
                .active
                    display: inline-block
                    @media screen and (max-width: 620px)
                        display: block

                .col-nine
                    display: none  
                .active 
                    display: inline-block
                    @media screen and (max-width: 620px)
                        display: block                    
                    
            
        .bouton-vide
            display: flex
            justify-content: center
            align-items: center
            transform: translateY(50px)
            // height: 15px
            margin-top: 5%
            @media screen and (max-width: 620px)
                margin-top: 30%
            
        .active-all
            background-color: blue 
            border-radius: 50%
            height: 15px
            border: solid black 1px
            margin: 10px 
            animation: card 1s ease-in-out
            transition-duration: 1s                             
        
            
        .all
            border-radius: 50%
            height: 15px
            border: solid black 1px
            margin: 10px                              
        