#hotFashion
    h2

    .container
        .row
            overflow-x: hidden
            position: relative
            margin: 0 auto
            width: 100%
            height: 500px
            @media screen and (max-width: 600px)
                overflow-x: hidden
                position: relative
                margin: 0 auto
                width: 100%
                height: 500px
            .img
                left:3%
                top: 20%
                font-weight: 700
                width: 21%
                transition: 1s
                @media screen and (max-width: 600px)
                    height: 400px
                    width: 400px
            .sofa
                position: absolute
                height: 25px
                transition: 1s
            .gloves
                position: absolute
                transform: translateX(120%)
                height: 250px
                transition: 1s
            .bowl
                position: absolute
                transform: translateX(240%)
                height: 250px
                transition: 1s
            .bags
                position: absolute
                transform: translateX(360%)
                height: 250px
                transition: 1s 
            .tshirt
                position: absolute
                transform: translateX(500%)
                height: 250px
                transition: 1s 
            .plate
                position: absolute
                transform: translateX(620%)
                height: 250px
                transition: 1s
            .modern
                position: absolute
                transform: translateX(750%)
                height: 250px
                transition: 1s    

        .divIndicators
            // bottom: 20px
            width: 100px
            left: 50%
            transform: translateX(-50%)
            z-index: 999
            position: absolute
            display: flex
            justify-content: space-between
            align-items: center
            
            @media screen and (max-width: 600px)
                // bottom: 20px
                width: 75%
                left: 50%
                transform: translateX(-50%)
                z-index: 999
                position: absolute
                display: flex
                justify-content: center
                align-items: center
                margin-top: 30px
            .indic
                height: 15px
                width: 15px
                border: solid 1px black
                border-radius: 50%
                margin: 10px
                @media screen and (max-width: 600px)
                    height: 15px
                    width: 15px
                    border: solid 1px black
                    border-radius: 50%       
            .myIndicator1
                cursor: pointer
                border-radius: 50%
                height: 15px
                @media screen and (max-width: 600px)
                    cursor: pointer
            .myIndicator2
                cursor: pointer
                @media screen and (max-width: 600px)
                    cursor: pointer
            
            .myIndicator3
                cursor: pointer
                @media screen and (max-width: 600px)
                    cursor: pointer
            .myIndicator4
                display: none
                @media screen and (max-width: 600px)
                    cursor: pointer
            .myIndicator5
                display: none
                cursor: pointer
                @media screen and (max-width: 600px)
                    cursor: pointer
            .myIndicator6
                display: none
                cursor: pointer
                @media screen and (max-width: 600px)
                    cursor: pointer















            

                                          
        